ray-tracing/build/test.o
ray-tracing/test
ray-tracing/test.cpp
3D-scene/tmp
3D-scene/resources
3D-scene/doc
3D-scene/doxygen_config
examples/
*.txt
archive/
generator
a.out
tmp/
docs/
main
line
circle
graphics_engine
.vscode/
resources/
*.pdf
README.html
