ray-tracing/rendered.bmp
ray-tracing/build/test.o
ray-tracing/test
ray-tracing/test.cpp
3D-scene/tmp
3D-scene/resources
3D-scene/doc
**/doxygen_config
**/doxy_config
examples/
*.txt
archive/
generator
a.out
**/tmp/
**/docs/
**/main
.vscode/
resources/
*.pdf
**/README.html
**/*.o
graphics_engine
